body {
  display: flex;
  flex-direction: column;

  background-color: lightblue;
  background-image: url(img/gradient.jpg);
  background-position: center;

  height: 350px;
  width: 320px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  color: #E02463;

  padding: 10px;
  border: 0;
  border-radius: 5px;

  text-align: center;
  font-size: 20px;
  font-family: 'Jomhuria';

  height: 50px;
}

.logo {
  background-color: lightblue;
  background-image: url(img/icon_512.png);
  background-size: cover;

  height: 40px;
  width: 40px;
}

#menu {
  background-color: #DF2362;
  color: #fff;

  font-size: 12px;
  font-weight: bold;

  text-align: center;

  border-radius: 5px;
  padding: 8px 16px;
  border: solid 1px #FB8A1D;

  min-width: 100px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  margin-top: 20px;
  border: 0;
  border-radius: 5px;

  background-color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.footer_buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.encodeButton, .decodeButton, .clearButton, .copyButton {
  appearance: none;
  cursor: pointer;

  background-color: #FB8A1D;
  color: #fff;

  font-size: 16px;
  font-weight: bold;

  border: 0;
  border-radius: 5px;
  padding: 8px 16px;

  min-width: 100px;
}

.replaceButton {
  appearance: none;
  cursor: pointer;

  color: white;
  background: #22C2F0;

  border: 0;
  border-radius: 5px;
  padding: 8px 16px;

  font-size: 16px;

  min-width: 50px;
}


textarea {
  background: #22C2F0;
  color: white;

  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 8px 16px;

  font-weight: bolder;
}

.encodeButton:hover, .decodeButton:hover, .replaceButton:hover, .clearButton:hover, .copyButton:hover {
  background: #8355FA;
}

#menu::after {
  background-color: #fff;
}
