body {
  display: flex;
  background-color: lightblue;
  background-image: url(img/gradient.jpg);
  background-position: center;
  height: 350px;
  width: 320px;
  flex-direction: column;

}

header {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  border: 0;
  border-radius: 5px;
  height: 50px;
  background-color: white;

  color: #E02463;
  font-size: 20px;
  font-family: 'Jomhuria';
}

.logo {
  height: 40px;
  width: 40px;
  background-color: lightblue;
  background-image: url(img/icon_512.png);
  background-size: cover;
}

nav {
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.footer_buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.encodeButton, .decodeButton, .clearButton, .copyButton {
  appearance: none;
  min-width: 100px;
  border: 0;
  border-radius: 5px;
  background: #39AECF;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FB8A1D;
}

.replaceButton {
  appearance: none;
  min-width: 50px;
  border: 0;
  border-radius: 5px;
  background: #22C2F0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}


textarea {
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  background: #22C2F0;
  padding: 8px 16px;
  color: white;
  font-weight: bolder;
}

.encodeButton:hover, .decodeButton:hover, .replaceButton:hover, .clearButton:hover, .copyButton:hover {
  background: #8355FA;
}
